<a href="https://colab.research.google.com/github/fabrizionicolay/Big_Data_Colab/blob/main/Ejercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 2 - Carga de archivo CSV desde Drive

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQZnEbbIl4DPgjQkdRg2hJxgZ4DJt68CxWwPvS0b8KBVAa_v9ufJDwgFqpSt_JCTA/pub?output=csv")

In [3]:
datos

,nombre,edad,genero,ciudad,ingresos,educacion,estado_civil
0,Juan,28,Masculino,Lima,4500,Universitario,Soltero
1,María,35,Femenino,Arequipa,3500,Secundaria,Casado
2,Luis,40,Masculino,Cusco,5200,Universitario,Casado
3,Ana,22,Femenino,Lima,2800,Universitario,Soltero
4,Walter,19,Masculino,Juliaca,3100,Técnico,Soltero
5,Pedro,30,Masculino,Arequipa,4000,Técnico,Soltero
6,Laura,27,Femenino,Lima,3200,Secundaria,Casado
7,Carlos,29,Masculino,Cusco,4800,Universitario,Comprometido
8,Sofía,25,Femenino,Lima,3000,Universitario,Soltero
9,Esmeralda,23,Femenino,Juliaca,3200,Universitario,Soltero
10,Andrés,33,Masculino,Arequipa,4200,Universitario,Casado
11,Gabriela,31,Femenino,Lima,3800,Universitario,Divorciado
12,Diego,26,Masculino,Cusco,3600,Técnico,Comprometido
13,Ernesto,42,Masculino,Juliaca,4200,Técnico,Casado